<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386964282660-0574lkkhiv3p8uuflakliv6i3b67eai1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386964282660-0574lkkhiv3p8uuflakliv6i3b67eai1</string>
	<key>API_KEY</key>
	<string>AIzaSyBHao4J80zWMNq1Kat9Cb1Ly5N7F3rQJvY</string>
	<key>GCM_SENDER_ID</key>
	<string>386964282660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ellcavalcante.ChallengeSignIn-SignUp</string>
	<key>PROJECT_ID</key>
	<string>challengesigninsignup</string>
	<key>STORAGE_BUCKET</key>
	<string>challengesigninsignup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386964282660:ios:9753c98486748edf49a7b1</string>
</dict>
</plist>